*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    max-height: 100vh;
    background-color: rgb(224, 224, 224);
}

/*-_-_-_-_-_-_-_-_ responsive nav -_-_-_-_-_-_-_-_*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #0c0a0d;
    font-family: 'Poppins', sans-serif;
}
.logo{
    color: rgb(224, 224, 224);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(224, 224, 224);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

/*-_-_-_-_-_-_-_-_ line below text on nav -_-_-_-_-_-_-_-_*/
.nav-links li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: rgb(154, 205, 50);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links li:hover::after{
    width: 100%;
}

/*-_-_-_-_-_-_-_-_ burguer icon -_-_-_-_-_-_-_-_*/
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(224, 224, 224);
    margin: 5px;
    transition: all 0.3s ease;
}

/*-_-_-_-_-_-_-_-_ media responsive -_-_-_-_-_-_-_-_*/
@media(max-width:1024px) {
    .nav-links{
        width: 60%;
    }
}

@media(max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #0c0a0d;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

/*-_-_-_-_-_-_-_-_ animation on links and burguer -_-_-_-_-_-_-_-_*/
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    } 
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/*-_-_-_-_-_-_-_-_ landing image -_-_-_-_-_-_-_-_*/
.landing-image{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,40,0.7), rgba(4,9,30,0.7)), url(images/back-image.jpg);
    background-position: center;
    background-size: cover;
    position: static;
}

/*-_-_-_-_-_-_-_-_ landing image text -_-_-_-_-_-_-_-_*/
.landing-text{
    text-align: center;
    color: rgb(224, 224, 224);
    padding: 30px;
    padding-top: 50px;
}
.landing-text p{
    line-height: 35px;
}

/*-_-_-_-_-_-_-_-_ landing button -_-_-_-_-_-_-_-_*/
.btn-main{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: static;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
}
.btn-main:hover{
    border: 1px solid rgba(146, 214, 10, 0.8);
    background: rgba(154, 205, 50,0.3);
    transition: 1s;
}

/*-_-_-_-_-_-_-_-_ profile box -_-_-_-_-_-_-_-_*/
.profile-box{
    display: flex;
    justify-content:space-evenly;
}
.profile-box a{
    text-decoration: none;
    color: #fff;
}
.profile-box img{
    background-color: yellowgreen;
}
.left{
    border-style: solid;
    padding: 15px;
}
.right{
    border-style: solid;
    padding: 15px;
}
.iconify{
    color: rgb(154, 205, 50);
}



/*-_-_-_-_-_-_-_-_ Footer -_-_-_-_-_-_-_-_*/
.footer{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #0c0a0d;
    color: rgb(224, 224, 224);
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fab{
    color: rgb(154, 205, 50);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}